$base-color: #ff9800;
$background-white-color: #ffffff;
$forground-light-gray: #adb6ba;
$highlight-color: #adb6ba;

$font-size-primary: 40px;
$font-size-primary-sm: 30px;
$font-size-secondary: 22px;
$font-size-secondary-sm: 18px;
$font-size-default: 18px;
$font-size-default-sm: 16px;

@media only screen and (max-width: 800px) {
    $font-size-primary: 30px;
}

.homeWrapper {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 800px;
    overflow: auto;
    overflow-x: hidden;
    background-color: $background-white-color;
    padding: 0px 150px;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    box-sizing: border-box;

    @media only screen and (max-width: 1200px) {
        padding: 0px 100px;
    }

    @media only screen and (max-width: 800px) {
        padding: 0px 50px;
    }

    @media only screen and (max-width: 600px) {
        padding: 0px 25px;
    }

    .headerWrapper {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;

        .logoContainer {
            img {
                width: auto;
                height: 40px;
            }
        }

        .callToActionHolder {
            display: flex;
            align-items: center;
            width: auto;
            gap: 30px;
            justify-content: center;
            font-size: $font-size-default;

            @media only screen and (max-width: 800px) {
                gap: 10px;
            }

            .buttonLink {
                color: $base-color;
                outline: none;
                border: none;
                background: none;
                font-weight: bold;
                font-size: $font-size-default;
                cursor: pointer;
                padding: 10px 15px;
                border-radius: 10px;
                border: 1px solid transparent;

                &:hover {
                    border: 1px solid $base-color;
                    box-shadow: 0 0 5px 0 $highlight-color;
                }

                @media only screen and (max-width: 800px) {
                    gap: 10px;
                    font-size: $font-size-default-sm;
                }
            }

            .buttonSolid {
                padding: 10px 15px;
                outline: none;
                border: none;
                cursor: pointer;
                color: $background-white-color;
                background-color: $base-color;
                font-weight: bold;
                font-size: $font-size-default;
                border-radius: 10px;

                &:hover {
                    box-shadow: 0 0 5px 0 $highlight-color;
                }

                @media only screen and (max-width: 800px) {
                    gap: 10px;
                    font-size: $font-size-default-sm;
                }
            }
        }
    }

    .mainContentWrapper {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 60% 1fr;
        justify-content: space-between;

        @media only screen and (max-width: 1000px) {
            grid-template-columns: 100%;
        }

        .mainContent {
            width: 100%;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            position: relative;
            gap: 20px;
            margin-top: 150px;

            .mainSlogan {
                font-size: $font-size-primary;
                color: $base-color;
                font-weight: bold;
                line-height: 60px;

                @media only screen and (max-width: 800px) {
                    font-size: $font-size-primary-sm;
                    line-height: 50px;
                }
            }

            .subSlogan {
                font-size: $font-size-default;
                color: $forground-light-gray;
                line-height: 30px;

                @media only screen and (max-width: 800px) {
                    font-size: $font-size-default-sm;
                }
            }

            .mainCallToActionHolder {
                .buttonSolid {
                    padding: 15px 20px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    color: $background-white-color;
                    background-color: $base-color;
                    font-weight: bold;
                    font-size: $font-size-secondary;
                    border-radius: 10px;

                    &:hover {
                        box-shadow: 0 0 5px 0 $highlight-color;
                    }

                    @media only screen and (max-width: 800px) {
                        font-size: $font-size-secondary-sm;
                    }
                }
            }
        }

        .illustrationHolder {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: 1000px) {
                display: none;
            }

            img {
                width: auto;
                height: auto;
            }
        }
    }
}
